input{
    margin: 1px 2px 4px 3px;
    background-color: #9dc7f0;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    
} 
h2{
    /* background-color: ; */
    color: red;
       padding: 10px;
        margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    font-family: Arial, sans-serif;
    font-size: 16px;
}